body{
    font-family: Arial, sans-serif;
}

table {
    margin: 10px auto;
    border: thin solid rgb(206, 202, 202);
    box-shadow: 5px 10px gray;
    border-collapse: collapse;
}

caption {
    padding: 10px;
    padding-top: 15px;
    caption-side: bottom;
}

tr:first-child th, .blank {
    background-color: black;
    color: white;
    border: none;
}

th, td {
    padding: 7px 15px;
    border: 1px solid rgb(206, 202, 202);
}

th {
    background-color: rgb(68, 65, 65);
    color: white;
    border-left: none;
    border-top: none;
}

td{
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgb(226, 222, 222);
}