*{
    margin: 0 auto;
}

body {
    font-family: 'Lucida Sans Regular';
}

h1 {
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;   
}

img {
    background: black;
    animation: fade 15s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100%
    opacity: 1;
}