@media screen and (min-width: 500px) {

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color2);
        padding: 0;
        width: fit-content;
        margin: 0 auto;
        border-radius: 1rem;
    }

    .menu ul {
        list-style: none;
        display: flex;
        gap: 40px;
        margin: 20px;
        padding: 0;
    }

    header {
        background: none;
    }

    .hamburger {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 20px 40px;
    }
}