@media (min-width: 640px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }
    nav ul {
        display: flex;
    }
    .photos {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:10px;   
    }    
    #hamburger-button {
        /*The hamburger button should only show in the mobile view.*/
        display: none; 
    }

    #navigation-menu {
        display: flex; 
        flex-direction: row; 
        gap: 15px;
        position: static; 
        box-shadow: none; 
        background: none; 
    }


}